.create-account-container {
    display: flex;
    height: 100vh;
  }
  
  .create-account-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .create-account-left h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .form-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .form-group {
    width: 48%; /* Adjusts width of each input to be side by side */
  }
  
  .form-actions {
    margin-top: 20px;
  }
  .social {
    margin-top: 40px; /* Adjust this value to move the text lower */
    text-align: center;
    
  }
  .social h5 {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    font-weight: normal; /* Removes bold text */

  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
 
  
  .create-account-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ecef;
    padding: 20px;
  }
  
  .create-account-right img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  